ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  width: 100%;
  height: auto;
}
.App {
  display: grid;
  grid-template-areas: "h h" "n c";
  
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  max-width: 1380px;
  margin: 0 auto;
}
.item2 {
  color: aqua;
}
